# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.VR-simulator.iml
/projectSettingsUpdater.xml
/contentModel.xml
/modules.xml
# Datasource local storage ignored files
/../../../../../../:\unity\VR-simulator\.idea\.idea.VR-simulator\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
